<h1>List of Provinces</h1>
<ul>
  <% provinces.forEach(p => { %>
  <li>
    <h3><a href="/<%= p._id%>"> <%= p.name %> </a></h3>
    <p><%= p.description %></p>
    <p><strong> Known For: </strong> <%= p.known_for %></p>
  </li>

  <%})%>
</ul>
