<%- include("partials/header") %>

<div class="form-container">
  <h1>Create a New Province</h1>
  <form action="/" method="post">
    <div class="form-field-group">
      <label for="name">Name</label>
      <input type="text" name="name" required />
    </div>

    <div class="form-field-group">
      <label for="description">Description</label>
      <input type="text" name="description" required />
    </div>

    <div class="form-field-group">
      <label for="known_for">Known For</label>
      <input type="text" name="known_for" required />
    </div>

    <h3>Pictures</h3>
    <div id="pictures_section">
      <div class="form-field-group">
        <label>Picture</label>
        <input type="text" name="pictures" required />
      </div>
    </div>

    <h3>Famous People</h3>
    <div id="people_section">
      <div class="form-field-group">
        <label>Name</label>
        <input type="text" name="names" required />
        <label>Bio</label>
        <input type="text" name="bios" required />
        <label> image </label>
        <input type="text" name="people_imgs" placeholder="Image URL" />
      </div>
    </div>

    <h3>Famous Food</h3>
    <div id="food_section">
      <div class="form-field-group">
        <label>Name</label>
        <input type="text" name="food_names" required />
        <label>Description</label>
        <input type="text" name="food_descriptions" required />
        <label>Image</label>
        <input type="text" name="food_imgs" required />
      </div>
    </div>

    <div class="form-buttons">
      <button onclick="add_picture()" type="button" class="add-btn">
        Add Picture
      </button>
      <button onclick="add_bio()" type="button" class="add-btn">
        Add person
      </button>
      <button onclick="add_food()" type="button" class="add-btn">
        Add Food
      </button>
      <button type="submit" class="submit-btn">Save</button>
    </div>
  </form>
  <br />
  <a href="/">home page</a>
</div>

<%- include("partials/footer") %>
