<form action="/" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required />

  <label for="description">Description</label>
  <input type="text" name="description" id="description" required />

  <label for="known_for">known_for</label>
  <input type="text" name="known_for" id="known_for" required />
</form>
