<%- include('../partials/header') %>

<div class="form-container">
  <h1>Log in</h1>

  <form action="/user/log_in" method="post">
    <div class="form-field-group">
      <label for="email"> Email </label>
      <input type="text" name="email" placeholder="please put your email" />
    </div>
    <div class="form-field-group">
      <label for="password"> password </label>
      <input
        type="text"
        name="password"
        placeholder="please put your password"
      />
    </div>
    <div>
      <% if (msg === "wrong_email") { %>
      <h3 style="color: red">Email address not found.</h3>
      <% } %> <% if (msg === "wrong_password") { %>
      <h3 style="color: red">incorrect password.</h3>
      <% } %>
    </div>
    <div class="form-buttons">
      <button type="submit" class="submit-btn">log in</button>
    </div>
  </form>
</div>
